<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <!-- Include necessary CSS, scripts, and stylesheets -->
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <h2>Pending Signups</h2>
        <ul>
            {% for user in pending_signups %}
            <li>
                Username: {{ user.username }}
                <a href="{{ url_for('admin.approve_signup', user_id=user.id) }}">Approve</a>
                <a href="{{ url_for('admin.reject_signup', user_id=user.id) }}">Reject</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Include necessary scripts or additional content -->
    <div class="container">
        <h2>Categories pending addition/removal Approvals</h2>
        <ul>
            {% for category in pending_categories %}
                <li>{{ category.name }}
                    <form method="post" action="{{ url_for('admin.approve_category', category_id=category.id) }}">
                        <button type="submit">Add</button>
                    </form>
                    <form method="post" action="{{ url_for('admin.reject_category', category_id=category.id) }}">
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Admin Dashboard -->
    <a href="{{ url_for('admin.logout') }}">Logout</a>

</body>
</html>
