<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>User Login</h1>
    <form method="POST" action="{{ url_for('auth.user_login') }}">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }}<br>
        {{ form.password.label }} {{ form.password() }}<br>
        {{ form.submit() }}
    </form>

    <h2>Store Manager Login</h2>
<form method="POST" action="{{ url_for('auth.store_manager_login') }}">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username }}
    {{ form.password.label }} {{ form.password }}
    {{ form.submit }}
</form>

<h2>Admin Login</h2>
<form method="POST" action="{{ url_for('auth.admin_login') }}">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username }}
    {{ form.password.label }} {{ form.password }}
    {{ form.submit }}
    </form>

    <a href="{{ url_for('base') }}" class="btn btn-primary">Back to Home</a>

</body>
</html>


