<!DOCTYPE html>
<html>
<head>
    <title>Manage Products</title>
</head>
<body>
    <h1>Manage Products</h1>
    <ul>
        {% for product in products %}
        <li>
            {{ product.name }} - {{ product.description }} - {{ product.category }}
            <a href="{{ url_for('store_manager.edit_product', product_id=product.id) }}">Edit</a>
            <a href="{{ url_for('store_manager.remove_product', product_id=product.id) }}">Remove</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
